* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

li {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
  background-color: #fff;
  
}

.item {
  border: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  
  
}

.gallery-item {
  width: calc((100% - 48px) / 3); 
  padding: 0;
  margin: 0;
  border: none;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  
}

.login-form {
  width: 360px;
   background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  color: #2e2f42;
  gap: 8px;
}

.login-form input {
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
}

.login-form input:hover {
  border: 1px solid #000;
}

.login-form input:active {
  border: 1px solid #808080;
}
  


.login-form button {
  align-self: flex-start;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 16px;
}

.login-form button:hover {
  background-color: #6c8cff;
}
.widget button {
  background-color: #4e75ff;
  padding: 8px 16px;
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}